<script>
  import Speakers from "../components/Speakers.svelte";
</script>

<section class="py-24 px-5 min-h-screen flex items-center relative main-section">
  <div class="absolute -z-10 bg-cover bg-no-repeat w-full h-full top-0 left-0" style="background-image:url('/img/bg.jpeg')"></div>  
  <div class="container mx-auto text-white text-center space-y-3">
    test
  </div>
</section>

<section class="py-24 px-5">
  <div class="container mx-auto">
    <Speakers></Speakers>
  </div>
</section>

<section class="py-24 px-5">
  <div class="container mx-auto">
    Test
  </div>
</section>