<script>
  import { base } from '$app/paths';
  let menu_open = false;

  let y = 0;

  $: scrolled = y > 200;

</script>

<svelte:window bind:scrollY={y}/>

<div id="navbar" class="w-64 min-h-screen sm:w-full sm:min-h-0 sm:h-20 p-8 sm:py-3 bg-indigo-900  left-0 top-0 
    sm:flex sm:items-center
     ease-in-out transition-all transform duration-300
    -translate-x-full sm:translate-x-0 fixed z-10 
     {menu_open?'translate-x-0':''} {scrolled?'md:bg-white shadow-md':'md:bg-transparent'}
    ">
  
    <div class="w-full container mx-auto sm:flex sm:items-center sm:justify-between">
      <div class="mb-5 sm:m-0 font-medium bg-white sm:bg-transparent p-5 sm:p-0 rounded-md flex items-center justify-center">
        <img src="{base}/img/logo.svg" class="h-14 block {scrolled?'':'sm:hidden'}" alt="Logo">
        <img src="/img/logo-white.svg" class="hidden sm:h-16 {scrolled?'':'sm:block'}" alt="Logo">
      </div>

      <nav>
        <ul class="sm:flex md:text-sm">

          <li class="px-5 py-2 rounded-md md:bg-white shadow">
            <a href="/" class="md:text-blue-500 text-white px-2 py-1 font-bold">Home</a>
          </li>
          

        </ul>
      </nav>
    </div>

</div>

<main class="w-full">
  <div class="flex sm:hidden p-3 bg-white shadow">        
    <img src="{base}/img/logo.svg" alt="Logo" class="object-contain h-12">
    <button on:click="{()=> menu_open = !menu_open }" class="cursor-pointer fixed right-5 w-10 h-10 text-xl ml-auto transition duration-150 hover:shadow leading-none px-2 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button">
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 top-3 duration-500 { menu_open ? 'opacity-0':'' }" ></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500 { menu_open ? 'transform rotate-45':'' }"></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 duration-500 { menu_open ? 'transform -rotate-45':'' }"></span>
      <span class="block absolute w-6 h-0.5 rounded-sm bg-gray-600 bottom-2.5 duration-500 { menu_open ? 'opacity-0':'' }"></span>
    </button>
  </div>
</main>
